body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* BACKGROUND COLORS */

.header-nav {
  background-color: black;
}

.section-one {
  background-color: rgba(255, 255, 255, 0.971);
}

.section-two-title {
  background-color: red;
}
#profile-link,
#profile-link-three {
  background-image: linear-gradient(to top, white, red);
}

#profile-link-two {
  background-image: linear-gradient(to bottom, red, white);
}

#projects {
  background-color: black;
}

.testimonial-box {
  background-color: azure;
}

.sign-up-box {
  background-image: linear-gradient(to top, black, red);
}
footer {
  background-color: BLACK;
}

/* HEADER AND NAV BAR */

.header-nav {
  display: flex;
  justify-content: FLEX-END;
  align-items: center;
  width: 100%;
  height: 5vh;
  position: fixed;
  z-index: 1;
}

ul {
  display: Flex;
  gap: 3rem;
  margin-right: 10%;
  justify-content: center;
  align-content: center;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 1rem;
}

/* SECTION ONE */

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-description {
  display: flex;
  flex-direction: column;
  color: azure;
  font-size: 1.2rem;
  flex: 0 1 800px;
  color: black;
  padding: 1em 1em;
}

.descrip-header {
  color: rgb(255, 4, 0);
  text-decoration: underline;
  font-weight: bold;
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 0;
}

.web-dev {
  font-weight: bold;
  color: red;
}
/* THIS IS THE CODE FOR CVA LOGO */

.first-letter,
.second-letter,
.third-letter {
  border: 3px solid black;
  width: 5%;
  max-width: 10%;
  padding: 4rem;
  display: flex;
  justify-content: Center;
  align-content: Center;
  font-size: 4rem;
  background-image: linear-gradient(red, white);
  font-weight: bold;
}

.first-letter {
  position: fixed;
  right: 220px;
  top: 200px;
  width: 15px;
}

.second-letter {
  position: fixed;
  right: 120px;
  top: 380px;
  width: 15px;
}

.third-letter {
  position: fixed;
  width: 15px;
  right: 20px;
  top: 200px;
}

/* SECTION TWO */

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.section-two-title {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

/* THIS CODE IS FOR THE CONTAINER WHICH CONTAINS ALL 3 PICTURES */
.photos-div {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

/* THIS CODE CONTROLS JUST THE PICTURES WITHOUT THE TEXT*/
#Service-photos {
  max-height: 6.2em;
  display: flex;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
/*EACH OF THESE ELEMENTS CONTROL EACH PICTURE AND TEXT*/
#profile-link,
#profile-link-two,
#profile-link-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.project-pic-one:hover,
.project-pic-two:hover,
.project-pic-three:hover {
  opacity: 0.5;
  z-index: 0;
}

/* SECTION THREE */

#goals {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial {
  font-size: 1.5rem;
}

.testimonial-box {
  border-radius: 15px;
  max-width: 800px;
  padding: 10px;
}

/* SECTION FOUR */

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-box {
  padding: 2.5rem;
  display: Flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 1.7rem;
}

.sign-up-text {
  font-size: 1.5rem;
  color: white;
}

.book-button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px;
  border: 4px solid darkblue;
  transition-duration: 0.4s;
}

.book-button:hover {
  background-color: darkblue;
  color: white;
}
/* FOOTER */

footer {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 0%;
  z-index: 2;
}

/*! MEDIA QUERY TO POSITION CVA LOGO IN SMALLER SCREENS */

@media only screen and (max-width: 1900px) {
  .first-letter,
  .second-letter,
  .third-letter {
    border: 3px solid black;
    width: 5%;
    max-width: 10%;
    padding: 0.45rem;
    display: flex;
    justify-content: Center;
    align-content: Center;
    font-size: 0.8rem;
    background-image: linear-gradient(red, white);
    font-weight: bold;
  }

  .first-letter {
    position: fixed;
    left: 10px;
    top: 5px;
    width: 5px;
    z-index: 3;
  }

  .second-letter {
    position: fixed;
    left: 40px;
    top: 5px;
    width: 5px;
    z-index: 3;
  }

  .third-letter {
    position: fixed;
    width: 5px;
    left: 70px;
    top: 5px;
    z-index: 3;
  }
}

/* SCROLLER ANIMATION */

.introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 7px 7px rgba(33, 33, 33, 0.7);
  flex-wrap: wrap;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  max-width: 15em;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
.scroller > span {
  position: relative;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
