body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* BACKGROUND COLORS */

.header-nav {
  background-color: black;
}

.section-one {
  background-color: rgba(255, 255, 255, 0.971);
}

.section-two-title {
  background-color: red;
}
#profile-link,
#profile-link-three {
  background-image: linear-gradient(to top, white, red);
}

#profile-link-two {
  background-image: linear-gradient(to bottom, red, white);
}

.photos-div {
  background-color: black;
}

.testimonial-box {
  background-color: azure;
}

.sign-up-box {
  background-image: linear-gradient(to top, black, red);
}
footer {
  background-color: BLACK;
}

/* HEADER AND NAV BAR */

.header-nav {
  display: flex;
  justify-content: FLEX-END;
  align-items: center;
  width: 100%;
  height: 5vh;
  position: fixed;
  z-index: 1;
}

ul {
  display: Flex;
  gap: 3rem;
  margin-right: 10%;
  justify-content: center;
  align-content: center;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 20px;
}

/* SECTION ONE */

#welcome-section {
  height: 100vh;
  display: flex;
}

.section-one {
  display: Flex;
}
.container-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.main-description {
  display: flex;
  flex-direction: column;
  color: azure;
  font-size: 26px;
  flex: 0 1 800px;
  text-align: Center;
  color: black;
  padding: 5%;
}

.descrip-header {
  color: rgb(255, 4, 0);
  text-decoration: underline;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

/* THIS IS THE CODE FOR CVA LOGO */

.first-letter,
.second-letter,
.third-letter {
  border: 3px solid black;
  width: 5%;
  max-width: 10%;
  padding: 4rem;
  display: flex;
  justify-content: Center;
  align-content: Center;
  font-size: 4rem;
  background-image: linear-gradient(red, white);
  font-weight: bold;
}

.first-letter {
  position: fixed;
  right: 220px;
  top: 200px;
  width: 15px;
}

.second-letter {
  position: fixed;
  right: 120px;
  top: 380px;
  width: 15px;
}

.third-letter {
  position: fixed;
  width: 15px;
  right: 20px;
  top: 200px;
}

/* SECTION TWO */

#section-two {
  position: relative;
}

.section-two-title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
  margin-bottom: 5px;
}
#Service-photos {
  max-height: 190px;
  display: flex;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.photos-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 5rem;
  font-weight: bold;
  gap: 5px;

  flex-wrap: wrap;
}

#profile-link,
#profile-link-two,
#profile-link-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 10px;
  text-decoration: none;

  max-width: 450px;
  min-width: 215px;
  min-height: 290px;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.project-pic-one:hover,
.project-pic-two:hover,
.project-pic-three:hover {
  opacity: 0.5;
  z-index: 0;
}

/* SECTION THREE */

.section-three {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial {
  font-size: 26px;
}

.testimonial-box {
  border-radius: 15px;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 50px;
}

/* SECTION FOUR */

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-box {
  padding: 50px;
  display: Flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 2.8rem;
}

.sign-up-text {
  font-size: 24px;
  color: white;
}

.book-button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px;
  border: 4px solid darkblue;
  transition-duration: 0.4s;
}

.book-button:hover {
  background-color: darkblue;
  color: white;
}
/* FOOTER */

footer {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 0%;
}

/*! MEDIA QUERY TO POSITION CVA LOGO IN SMALLER SCREENS */

@media only screen and (max-width: 1900px) {
  .first-letter,
  .second-letter,
  .third-letter {
    border: 3px solid black;
    width: 5%;
    max-width: 10%;
    padding: 0.45rem;
    display: flex;
    justify-content: Center;
    align-content: Center;
    font-size: 0.8rem;
    background-image: linear-gradient(red, white);
    font-weight: bold;
  }

  .first-letter {
    position: fixed;
    left: 10px;
    top: 5px;
    width: 5px;
    z-index: 3;
  }

  .second-letter {
    position: fixed;
    left: 40px;
    top: 5px;
    width: 5px;
    z-index: 3;
  }

  .third-letter {
    position: fixed;
    width: 5px;
    left: 70px;
    top: 5px;
    z-index: 3;
  }
}
